.navbar {
	background-color: #DDDDDD;
}

.navbar-brand {
	color: #515151;
}

.container {
	padding-top: 60px;
}

.seccion-1 {
	background-color: #FF9795;
	padding: 80px 0px 30px 0px;
}

.seccion-2 {
	background-color: #B0EEFF;
	padding: 30px 0px 30px 0px;
}

.seccion-logo {
	background-color: white;
}

.footer	{
	padding: 30px 0px 30px 0px;
	background-color: #D0D0D0;
}

.footer-title {
	padding-bottom: 5px;
}

.footer-links {
	color: black;
}

.footer-contact {
	color: black;
}

.btn {
	background-color: white;
}

